<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.jxau.zsjyc.mapper.AdminMapper">
	
	<select id="selectAdminByUser" resultType="admin">
		select id,username,password from `admin` where username = #{value}
	</select>

	<update id="updateUser">
		update `admin` set username=#{username},password=#{password} where id=#{id}
	</update>

	<insert id="insertAdmin">
		insert into `admin`(username,password) values (#{username},#{password})
	</insert>
</mapper>