<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link type="text/css" rel="stylesheet" href="static/h-ui/css/H-ui.css"/>
  <link rel="icon" href="/ico/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/ico/favicon.ico" type="image/x-icon"/>
<title>修改密码</title>
</head>
<body>
<div class="pd-20">
  <form class="Huiform" id="loginform" action="password_modify" method="post">
    <table class="table table-border table-bordered table-bg">
      <thead>
        <tr>
          <th colspan="2">修改密码</th>
        </tr>
      </thead>
      <tbody>
		<tr>
          <th class="text-r" >旧用户名：</th>
          <td><input name="olduser" id="olduser" class="input-text" type="text" autocomplete="off" placeholder="用户" tabindex="1"> 
          </td>
        </tr>
		<tr>
          <th class="text-r" >新用户名：</th>
          <td><input name="newuser" id="newuser" class="input-text" type="text" autocomplete="off" placeholder="设置用户" tabindex="1"> 
          </td>
        </tr>
		<tr>
          <th class="text-r">再次输入新用户名：</th>
          <td><input name="newuser2" id="newuser2" class="input-text" type="text" autocomplete="off" placeholder="密码" tabindex="1"> 
          </td>
        </tr>
        <tr>
          <th class="text-r" width="40%">旧密码：</th>
          <td><input name="oldpassword" id="oldpassword" class="input-text" type="password" autocomplete="off" placeholder="密码" tabindex="1"> 
          </td>
        </tr>
        <tr>
          <th class="text-r">新密码：</th>
          <td><input name="newpassword" id="newpassword" class="input-text" type="password" autocomplete="off" placeholder="设置密码" tabindex="2"> 
          </td>
        </tr>
        <tr>
          <th class="text-r">再次输入新密码：</th>
          <td><input name="newpassword2" id="newpassword2" class="input-text" type="password" autocomplete="off" placeholder="确认新密码" tabindex="3"> 
          </td>
        </tr>
        <tr>
          <th></th>
          <td>
            <button type="submit" class="btn btn-success radius" id="admin-password-save" name="admin-password-save"><i class="icon-ok"></i> 确定</button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
</body>

</html>